/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url('images/image02.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    font-size: 40px;
    background-color: #00F6FF;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 34;
    font-family: "Times New Roman", Homoarakhn, Arial;
    bottom: 300px;
    top: auto;
    left: 750px;
}
